@import '../../UI/theme/variable.scss';

.contacts__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.contacts__item {
  border: 1px solid $dark-blue;
  padding: 20px;
  background-color: $special-white;
  width: 100%;
}

.contacts__btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
