@import '../UI/theme/variable.scss';

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  gap: 20px;
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
}

.form__group {
  position: relative;
}

.form__field {
  padding: 9px 10px;
  width: 100%;
}

.form__btn {
  border: none;
  background-color: $basic-yellow;
  padding: 10px;
  height: 40px;

  &:focus,
  &:hover {
    background-color: $opacity-yellow;
  }
}
