@import '../UI/theme/variable.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
  padding: 20px;
  margin-bottom: 40px;
  min-height: 150px;
}
