$dark-blue: #227c9d;
$basic-blue: #17c3b2;
$basic-yellow: #ffcb77;
$basic-white: #fff;
$basic-grey: rgb(224, 220, 220);
$special-white: #fef9ef;
$special-pink :#fe6d73;
$opacity-yellow: hsla(37, 100%, 73%, 0.9);

$tablet-width: 768px;
$mobile-width: 320px;
